language: php
before_script:
- curl -s http://getcomposer.org/installer | php
- sudo apt-get install php5-xdebug
- sudo apt-get -y install php-mbstring
- php composer.phar install
php:
- "5.6"
script: php vendor/bin/phpunit --colors --coverage-text --configuration tests/phpunit.xml.dist  tests/